.brand-page-container{
  display: flex;
  flex-direction: column;
  padding: 3rem 15rem 1rem 15rem;
  color: #d50366; 
}

.brand-page-back-container{
  display: flex;
  flex-direction: row;
  color: rgb(111, 195, 196, 0.7) !important;
  margin-bottom: 1rem;
}

.brand-page-back{
  text-decoration: none;
  color: rgb(111, 195, 196, 0.7);
  transition: color 0.3s ease-in-out;
}

.brand-page-back:hover{
  color: rgb(213, 3, 102);
}

.brand-page-info-container{
  display: flex;
  flex-direction: row;
}

.brand-page-title{
  font-family: 'HeaderFont';
  font-size: 2rem;
  padding-right: 7rem;
  padding-left: 2rem;
  margin-right: 3rem;
  border-right: 5px dotted rgb(111, 195, 196, 0.7);
}

.brand-page-description{
  color: rgb(213, 3, 102, 0.8);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.15rem;
  text-align: left;
}

.brand-page-products{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  gap: 1rem;
  align-content: flex-start;
  min-height: 0;
  overflow: visible;
  border: 4px solid rgb(255, 174, 200, 0.8);
  border-radius: 20px;
  padding: 1rem;
}

.brand-page-products .product-card-info-container{
  color: #007170;
  border-top: 2px solid rgb(111, 195, 196, 0.5);
}

.brand-page-products .product-card-container {
  border: 2px solid rgb(0, 113, 112, 0.8);
  box-shadow: 0 0 15px rgb(0, 113, 112, 0.6);
}

.brand-page-products .product-card-price {
  text-shadow: 1px 5px 7px rgb(111, 195, 196, 0.8);
}