.product-variation-container{
  width: 100%;
  height: 2rem;
}

.product-variation{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(0, 113, 112, 0.8);
  border-radius: 25px;
  color: rgb(254, 125, 49, 0.9);
  background: rgb(193, 229, 233, 0.15);
}

.product-variation-category{
  width: 40%;
  text-align: start;
}

.product-variation-volume{
  width: 10%;
}

.product-variation-stock{
  width: 10%;
}

.product-variation-price{
  width: 20%;
}

.product-variation-add{
  width: 20%;
  background: linear-gradient(to right, rgb(238, 169, 74, 0.8),rgb(0, 113, 112, 0.8));
  border-radius: 15px;
  border: none;
  padding: 0.2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 1rem rgb(254, 125, 49, 0.8);
}