.main-page-container{
  font-family: 'NormalTextFont';
}

.main-page-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #ffaec8;
  text-shadow: 2px 3px 8px rgba(255, 156, 187, 0.5);
}

.main-page-components-container{
  flex: 1; /* растягивается на все доступное пространство */
  padding: 1% 10% 1% 10%;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.main-page-products{
  max-width: 75%;
  min-width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  gap: 1rem;
  align-content: flex-start;
  min-height: 0;
  overflow: visible;
}

.main-page-filter-bar{
  max-width: 25%;
  min-width: 25%;
  padding-left: 15px;
}