.cabinet-page-container{
  display: flex;
  flex-direction: column;
  margin: 1rem 6rem 1rem 6rem;
  padding: 1rem;
  border: 2px solid #8c56b6;
  border-top: 5px solid #8c56b6;
  border-bottom: 5px solid #8c56b6;
  box-shadow: 0 0 15px rgb(140, 86, 182, 0.6);
  border-radius: 16px;
  color: #7f3359;
  font-size: 1.1rem;
  height: auto;
  min-height: 40vh;
  margin-bottom: 13.5%;
}

.cabinet-page-elements-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.cabinet-page-info-container{
  width: 59%;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: space-between;
}

.cabinet-page-top-info-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.cabinet-page-image-container{
  position: relative;
  display: inline-flex;
  align-self: center;
  width: auto;
  margin-right: 1rem;
}

.cabinet-page-image{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid rgb(213, 3, 102, 0.8);
  box-shadow: 0 0 15px rgb(213, 3, 102,0.6);
}

.cabinet-page-top-info{
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.cabinet-page-other-info-container{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.cabinet-page-text{
  margin: 0 !important;
}

.cabinet-page-adress-picker-container{
  width: 40%;
  border: 2px solid #7f3359;
  border-radius: 10px;
  height: auto;
}

.cabinet-page-map{
  background: gainsboro;
  border-radius: 8px 8px 0 0;
  flex: 1; 
  min-height: 15rem;
}

.cabinet-page-adress-picker{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 2px solid #7f3359; 
}

.cabinet-page-button{
  margin-top: auto;
  width: 12rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.3rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(140, 86, 182), rgba(255, 156, 187));
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgb(140, 86, 182, 0.6);
  font-family: 'NormalTextFont';
}

.cabinet-page-button.exit{
  width: 14rem;
}

.cabinet-page-button.adress{
  align-self: flex-end;
}

.cabinet-page-button:hover {
  box-shadow: 0 0 15px rgb(140, 86, 182, 0.9);
}