

/* настроечко под сайтек полосочки */
.noUi-base{
  background: rgb(127, 51, 89, 0.5) !important;
}

.noUi-connect {
  background: rgba(255, 156, 187, 0.8) !important;
}

/* настройка других элементов додод */

.perfumerySlider-values{
  margin-bottom: 1rem;
  gap: 1%;
  display: flex;
}

.perfumerySlider-values input{
  width: 3rem;
  background: none;
  border: 2px solid rgb(213, 3, 102, 0.6);
  border-radius: 5px;
  
}