.search-paginator-container{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-paginator-arrow{
  font-weight: bold;
  border-radius: 40%;
  background: linear-gradient(to right, rgb(127, 51, 89, 0.8), rgba(255, 156, 187, 0.8));
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  font-family: 'NormalTextFont';
  font-size: 1.5rem;
  padding: 0.2rem;
  width: 1.9rem;
}
.search-paginator-arrow:hover {
  box-shadow: 0 0 25px rgba(255, 156, 187, 0.9);
}

.search-paginator-navigation{
  color: #7f3359;
  font-weight: bold;
  text-shadow: 0rem 0rem 0.8rem rgb(127, 51, 89, 0.7);
  font-size: 1.35rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}