  .filterBar-container {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
    background-color: none;
    border-radius: 8px;
    border: 3px solid rgb(127, 51, 89, 0.8);
    box-shadow: 0 2px 10px rgb(127, 51, 89, 0.6);
    user-select: none;
  }

  .filterBar-container-header {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #7f3359;
    text-shadow: 0px 0px 8px rgba(255, 156, 187, 0.6);
    font-family: 'HeaderFont';
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #7f3359;

  }

  .filterBar-header {
    font-size: 18px;
    font-weight: 700;
    color: #7f3359;
    margin-bottom: 0.8rem;
    text-shadow: 1px 2px 3px rgba(255, 156, 187, 0.5);
    background: rgb(255, 174, 200, 0.3);
  }

  .filterBar-genders-container {
    margin-bottom: 1rem;
  }

  .filterBar-genders {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  /* Адаптивность для мобильных устройств */
  @media (max-width: 768px) {
    .filterBar-container {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 1rem;
    }
  }

  .filterBar-price-container {
    margin-bottom: 1rem;
  }
