/* Карточка парфюмерной штуки */
.product-card-container {
  display: flex;
  flex-direction: row;
  background: none;
  border-radius: 16px;
  padding: 20px;
  border: 2px solid rgb(213, 3, 102, 0.8);
  box-shadow: 0 0 15px rgb(213, 3, 102,0.6);
  transition: all 0.3s ease;
  position: relative;
  gap: 16px;
  align-items: stretch;
}

.product-card-container:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 0 20px rgb(255, 174, 200, 0.9);
}

.product-card-img-container {
  flex: 0 0 160px;
  max-width: 160px;
  min-height: 160px;
  background: none;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  font-size: 12px;
  overflow: hidden;
}

.product-card-img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  min-height: 100%;
}

.product-card-info-container{
  flex: 1;
  font-size: 13px;
  color: #d50366;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  text-align: left;
  align-items: flex-start;
}

.product-card-brand{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: 100%;
}

.product-card-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.product-card-price {
  font-size: 16px;
  text-shadow: 1px 5px 7px rgb(255, 174, 200, 0.8);
  font-weight: bold;
  margin-top: auto;
  text-align: left;
  width: 100%;
}