.basket-product-container{
  width: 100%;
  height: 4rem;
}

.basket-product{
  padding: 0.5rem;
}

.basket-product-image-container{

}

.basket-product-image{

}

.basket-product-name{

}

.basket-product-category{

}

.basket-product-volume{

}

.basket-product-price{

}

.basket-product-quantity-container{

}

.basket-product-add{

}

.basket-product-quantity{

}

.basket-product-delete{

}