 .perfumeryScrollSearcher-container{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .perfumeryScrollSearcher-input{
  background: none;
  border: 2px solid rgb(213, 3, 102, 0.5);
  border-radius: 10px;
  outline: none;
 }

  .perfumeryScrollSearcher-input:focus{
    outline: 2px solid rgb(213, 3, 102);
  }
 
 .perfumeryScrollSearcher-items{
    overflow: auto;
    max-height: 9rem;
    min-height: 9rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }