
.main-page-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  color: #ffaec8;
  text-shadow: 2px 7px 8px rgba(255, 156, 187, 0.8);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}