
.header-container{
  min-width: 100%;
  min-height: 12vh;
  background-image: url('../../../public/perfumery_header.png');
  background-size: 95% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.header-item{

}