
.header-container{
  min-width: 100%;
  min-height: 20vh;
  background-image: url('../../../public/perfumery_header.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}