
.perfumeryFooter-container{
  background: linear-gradient(to bottom,  rgba(255, 156, 187, 0.7), rgb(127, 51, 89));
  height: 10rem;
  box-shadow: 2px 2px 1rem rgb(127, 51, 89, 0.4);
  display: flex;
  margin-top: auto;
}
@media (max-width: 768px) {
  .perfumeryFooter-container {
    height: 12rem;
  }
}
@media (max-width: 600px) {
  .perfumeryFooter-container {
    height: 16rem;
  }
  .perfumeryFooter-feedback-container{
    padding: 3rem 1rem 0 2rem !important;
  }
}
@media (max-width: 400px) {
  .perfumeryFooter-container {
    height: 20rem;
  }
  .perfumeryFooter-info{
    font-size: 0.9rem !important;
    padding: 1rem 0 0 2rem !important;
  }
  .perfumeryFooter-feedback-text{
    font-size: 0.9rem !important;
  }
  .perfumeryFooter-feedback-link{
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
.perfumeryFooter-info{
  font-size: 1rem;
  padding: 3rem 0 0 2rem;
  text-align: left;
  color: white;
}

.perfumeryFooter-feedback-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 4rem 0 2rem;
  gap: 0.5rem;
  min-width: 5rem;
  margin-left: auto;
}

.perfumeryFooter-feedback-text{
  color: white;
  margin: 0;
  white-space: nowrap;
}

.perfumeryFooter-feedback-icons-container{
  display: flex;
  gap: 0.5rem;
}

.perfumeryFooter-feedback-link{
  display: block;
  background: none;
  width: 3rem;
  height: 3rem;
}

.perfumeryFooter-feedback-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}