.App {
  text-align: center;
}

@font-face {
      font-family: 'HeaderFont';
      src: url('/public/MyFont.woff2') format('woff2'),
           url('/public/MyFont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'NormalTextFont';
      src: url('/public/NormalTextFont.woff2') format('woff2'),
           url('/public/NormalTextFont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}