.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.loading-container{
  font-size: 2rem;
  color: #007170;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

@font-face {
      font-family: 'HeaderFont';
      src: url('/public/MyFont.woff2') format('woff2'),
           url('/public/MyFont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'NormalTextFont';
      src: url('/public/NormalTextFont.woff2') format('woff2'),
           url('/public/NormalTextFont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}